---
layout: base
---

<div class="home">

<!-- <h1 class="page-heading">{{ page.title }}</h1> -->

<img style="border-width: 4px; border-style: solid; border-image: linear-gradient(to right, darkblue, darkorchid) 1;" src="https://github.com/user-attachments/assets/4a4fb99c-e354-41ba-856a-c472fdf2387f" alt="Logo banner showing a sunglasses-wearing skeleton holding a laptop in one hand and a ball of yarn and knitting needle in the other. The logo contains the text: For anyone curious about vaguely DH-adjacent crafting+making, ZERO experience required" >

<h1 style="border-bottom: 1px solid purple;">Scheduled #DHMakes Methodz Talks</h1>

<!--
{% for post in site.posts %}
<article class="post">
		<h3>{{ post.emoji }}<strong><a href="{{ post.url | relative_url }}">{{ post.title }}</a></strong></h3>
		<div class="content">
			{{ post.content }}
		</div>		
</article>
{% endfor %}
-->

<p>1/24/2025: I'm working on a listserv for new event announcements, and setting up further spring events. -Amanda</p>

<h2>Upcoming events</h2>
{% assign events = site.posts | sort: 'start_date' %}
{% assign today = site.time | date: '%Y%m%d' | plus: 0 %}
{% for event in events %}
	{% assign eventdate = event.start_date | date: '%Y%m%d' | plus:0 %}
	{% if eventdate >= today %}
		<section>
			<h3>{{ event.emoji }}<strong><a href="{{ event.url | relative_url }}">{{ event.title }}</a></strong></h3>
			<div class="content">
				{{ event.content }}
			</div>
		</section>
	{% endif %}
{% endfor %} <!-- end event -->

<h2>Recent events</h2>
{% for event in events %}
	{% assign eventdate = event.start_date | date: '%Y%m%d' | plus:0 %}
	{% if eventdate >= today %}
		{% continue %}
	{% endif %}
	<section>
		<h3>{{ event.emoji }}<strong><a href="{{ event.url | relative_url }}">{{ event.title }}</a></strong></h3>
		<div class="content">
			{{ event.content }}
		</div>
	</section>
{% endfor %}


















<hr>
  {{ content }}

</div>
