---
layout: base
---

<div class="home">

<h1 class="page-heading">{{ page.title }}</h1>

<img style="border-width: 4px; border-style: solid; border-image: linear-gradient(to right, darkblue, darkorchid) 1;" src="https://github.com/user-attachments/assets/4a4fb99c-e354-41ba-856a-c472fdf2387f" alt="Logo banner showing a sunglasses-wearing skeleton holding a laptop in one hand and a ball of yarn and knitting needle in the other. The logo contains the text: For anyone curious about vaguely DH-adjacent crafting+making, ZERO experience required" >

<h1 style="border-bottom: 1px solid purple;">Scheduled #DHMakes Methodz Talks</h1>

{% for post in site.posts %}
<article class="post">
		<h3>{{ post.emoji }}<strong><a href="{{ post.url | relative_url }}">{{ post.title }}</a></strong></h3>
		<div class="content">
			{{ post.content }}
		</div>		
</article>
{% endfor %}

<hr>
  {{ content }}

</div>
